body {
  background-color: #0b0000;
  color: #ffffff;
 display: flex;
 justify-content: center; 
 
}

.app-title {
  color: #ffffff;
  margin-top: 2rem;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.box{
  border: 2px solid white;
  padding:50px;
  border-radius: 0px 50px 20px 20px;
  background-color: rgba(0, 128, 0, 0.284);
  box-shadow: 10px 0px 2px 0px rgb(130, 130, 231);
}